@import url("facilities.css");

.criminalsList,
.witness__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
}

.criminal,
.witness,
.note {
    border: 1px dotted black;
    padding: .5rem;
    box-sizing: border-box;
    margin: 1rem;
    flex-basis: 25%;
}

.criminal {
    background-color: lightblue;
}

.witness {
    background-color: lightcoral;
}
.note {
    background-color: lightgrey;
}

.investigation,
.filters,
.buttons {
    display: flex;
}

.filter,
.button {
    padding: .25em;
}

