.criminalsContainer,
.criminalsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
}

.criminal {
    border: 1px dotted black;
    padding: .5rem;
    box-sizing: border-box;
    margin: 1rem;
    flex-basis: 25%;
}

.investigation,
.filters {
    display: flex;
}

